.login {    
    position: absolute;
    justify-content: center;
    align-items: center;    
    height: 100%;
    width: 25%;

}

.app-name {
    width: auto;
    background: transparent;
    margin: auto !important;
}

.shift-mat {
    margin-left: 50px;    
}

